<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>202155320683-g326prs4o5rt89m0muhbk7cbu0qoi6ur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.202155320683-g326prs4o5rt89m0muhbk7cbu0qoi6ur</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>202155320683-vd9jj850pmf7okd3u0apm3ggii6emeg7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC73OtiX08FbXNemMU9FPVXl9Ynj1Q5NNE</string>
	<key>GCM_SENDER_ID</key>
	<string>202155320683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.rember</string>
	<key>PROJECT_ID</key>
	<string>rember-a92cf</string>
	<key>STORAGE_BUCKET</key>
	<string>rember-a92cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202155320683:ios:810519484a4b1e08f1d82e</string>
	<key>DATABASE_URL</key>
	<string>https://rember-a92cf.firebaseio.com</string>
</dict>
</plist>